@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    letter-spacing: 0.00938em;
    font-weight: normal;
}

p,
span,
a,
h6,
h5,
h4 {
    font-size: 1rem;
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-size: 2rem;
    line-height: 1.5;
}

.hide-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

}

.hide-scroll::-webkit-scrollbar {
    display: none;
}

/* Target links with aria-current="page" attribute */
a[aria-current="page"] > button {
    /* Add your styles here */
    background: linear-gradient(130deg, #2870ea 20%, #1b4aef 77.5%);
    /* Change to the desired background color */
    color: #fff;
    /* Change to the desired text color */
    /* Add any other styles you want */
}

.cursor--pointer {
    cursor: pointer;
}


.primary--scroller {
    -ms-overflow-style: none;
        /* IE and Edge */
    scrollbar-width: 10px;
}

.primary--scroller::-webkit-scrollbar-thumb {
    background: transparent;
}


body {
    padding: 0px !important;
}